/* Styles for new sections and services */
.services, .products, .contact {
    background-color: #f8f8f8;
    padding: 2rem;
    margin: 2rem 0;
}

/* Change the font family for the entire body */
body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Change the font family for paragraphs */
p {
    font-family: 'Helvetica', sans-serif;
}

/* Change the font family for navigation links */
.navbar-nav .nav-link {
    font-family: 'Verdana', sans-serif;
}

.display-4
{
    font-weight: bold;
    text-align: left;
    color: white;
}

.lead
{
    font-weight: lighter;
    text-align: left;
}

.service, .product {
    background-color: #fff;
    border-radius: 5px;
    padding: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Add more specific styling as needed */

/* Responsive design */
@media (max-width: 768px) {
    /* Adjust styles for smaller screens */
}

 /* Custom styles */
 .navbar {
    background-color: transparent; /* Make the navbar background transparent */
}

.hero {
    position: relative;
    height: 100vh;
    background-image: url('Images/hero_image.jpg');
    background-size: cover;
    background-attachment: fixed; /* Fixed background image */
    color: white;
}

.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Adjust the padding of the content */
.py-custom {
    padding-top: 100px; /* Adjust the top padding as needed */
    padding-bottom: 50px; /* Adjust the bottom padding as needed */
}

.service:hover,
.product:hover {
    transform: scale(1.02); /* Zoom in effect */
    background-color: #939aa0; /* Change background color on hover */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1); /* Add shadow effect */
    transition: transform 0.2s, background-color 0.5s, box-shadow 0.8s; /* Transition properties */

}

.service,
.product {
    transition: transform 0.2s, background-color 0.5
    s, box-shadow 0.8s ; /* Transition properties */
}

.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    opacity: 0;
    transition: opacity 0.3s;
    z-index: 999;
}


.back-to-top.show {
    opacity: 1;
    
}
